<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- aqui se pone el logo en la pestaña -->
    <!-- <link rel="icon" href="img/logo de cit.ico"> -->

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- escribe aqui abajo -->
    <div id="app"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="js/peliculas.js"></script> -->
  </body>
</html>