<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABLUExURZnLPbvwW5rMPZrMPZvOP5rMPZvNP5zPQKbYSJrMPprMPprMPZrMPpvNP5/PQZrMPZrMPZrMPZvMPprMPZrMPprNPprMPZrMPkdwTIcGHj0AAAAZdFJOU/8D8vk06j8oCaCM35dMHqiydoG6WWbB0gBYkgrjAAABfklEQVRIx5XW25aDIAwF0MQbKFjvrf//pTPjaAgYkPJW6F62EE+A/esBsQXs7bK0q84njYFj1Gsmwa2Ea3R5ZAI2bA7xBECLj2QGSBnIEAADJklHXywL0UBCrI0zI0YJF/teMaMjxDrR/32uappYtEhCIRpOsKXlor8mlTNvHRIuGjfNzII+wUEUnpk9EhX7/jK0ohnB0YkqrGtnVkd0QvDndETYM+pKqu3+KlAi3YOgKqCnKHoHa5UU0F+kSwtXnTXt2OecMQ8CNjqX86yK14OwrmAMP9xwr8rwfT7IGA0gLiwv/i0aWoL4J2gioSWJ8yirQjSrmJkQ+5N+PHVCKLGtZGaSthKE7R9CM4sBiwkzRWNcDrotFF7CVKKZk/2FhRaFow17RRB996Czj/1F+eaMtiHVX9ALRwrDdH/hxkVbm2xJyty7mBeGkAitSLQJBEMThKHYxH0TRpt8VeDmFoaRO4x+X+KjMq89iNsRbmbS+Zer31/XNK+v7mPx8QO+ZZnPmBF6QgAAAABJRU5ErkJggg==">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"> -->
    <!-- aqui se pone el logo en la pestaña -->

    <title>Platzi Video</title>
  </head>
  <body>
    <!-- escribe aqui abajo -->
    <div id="app"></div>
    <div id="modals-container"></div>
    <!-- <img src="../img/Platzi.png" alt=""> -->
    <!-- Optional JavaScript -->
  </body>
</html>