$friendImageSize: 35px;

.RelatedItem{
  padding: 5px;
  cursor: pointer;
  @include titleStyle(16px, 500, #fff);
  
  display: grid;  
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px; 
  
  &:hover{
    background-color: $hoverColor;
  }
  
  .RelatedItem-Image{
    @include imageAsBackground($friendImageSize);
    width: $friendImageSize;
    margin: 0;
    
    img{
      border-radius: 50%;
    }
  }
}