.Media{
  position: relative;
  cursor: pointer;
  
  & > .Media-image{
    @include imageAsBackground(140px);
    background-color: rgb(158, 158, 158);
    cursor: pointer;
  }
  
  & > h4{
    font-size: 16px;
  }
  
  &::before{
    content: " ";
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

// .Media > .Media-image > img{
//   width: 250px;
// }