.Related{
  position: relative;
  
  & > .Related-container{
    position: fixed;
    width: $asideWidth;
    height: 100%;
    top: 0;
    left: 0;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(2, minmax(100px, 500px));
    gap: 10px;
    align-content: start;
  }
}