.Youtube-video{
  position:  relative;
  display: flex;
  align-items: center;
  background-color: $colorTransparent;
  height: 100%;
  
  iframe{
    position: relative;
    z-index: 2;
  }
  
  &::after{
    content: 'Cargando...';
    position: absolute;
    font-weight: bold;
    top: calc(50% + 25px);
    left: calc(50% - 40px);
    display: block;
    color: $colorLightTransparent;
  }
}