.SearchForm{
  
  .input-container{
    
    display: grid;
    grid-template-columns: minmax(auto, 400px) auto;
    align-items: center;
    gap: 10px;
    background-color: #ebebeb;
    box-shadow: none;
    border-radius: 20px;
    transition: .3s;
    
    &:hover{
      box-shadow: 4px 4px 6px 0px #cacaca;
    }
    // #72b9dc
    
    input{
      width: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      font-weight: bold;
      
      &::placeholder{
        color: $gray-600;
      }
    }
  }
}